.fondo{
    background-image: url("../imagenes/principal_6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.gris{
    background-color: lightgray;
}
.fondo2{
    background-image: url("../imagenes/ajedrez.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}
.fondo3{
    background-image: url("../imagenes/Recurso 1consciente.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}
.fondo4{
    background-image: url("../imagenes/couple-of-tourists-with-backpacks-on-mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fondo5{
    background-image: radial-gradient(circle at right,rgb(234, 78, 78,1 ) 0%, rgba(183, 35, 35, 1) 100% ),   url("../imagenes/persona-jugando-ajedrez_93675-73177.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
radial-gradient(circle at right,rgba(0,0,0,0.12) 0%,rgba(9,16,25,0.93) 60%)
.elazul{
    background-color:#34495E  ;
}

.alto{
    height: 75vh;
}
.alto2{
    height: 50vh;
}

.tprincipal{
    margin-top: 250px;
}
/*.tprincipal2{
    margin-top: 80px;
}*/
.sobrepuesto{
    position: relative;
}
.sobrepuestohijo{
    position: absolute;
    z-index: 1000;
    top: 95%;
    left: 5%;
    right: 5%;
    width: 75%;
}
@media only screen and (min-width: 900px) and (max-width: 3000px){
    .aparece{
        display: none;
    }
}
@media only screen and (min-width:100px) and (max-width:900px){
 .tprincipal {
    margin-top: 190px;   
    }
    .desaparece{
        display: none;
    }
}

/*  owl */
div::-webkit-scrollbar{
	display: none;
}
div::-moz-scrollbar{
    display: none;
}
.hola .product{
	min-width: 32%;
	transition: 0.5s;
	}
@media (max-width: 768px) {
	.hola .product {
	    min-width: 99%;
	}
